* {
    font-family: monospace;
    font-style: normal;
}
content {
    background-color: #ffffff;
    width: 100%;
}
content:after {
    clear:both;
}
topic:before {
    content: attr(title);
    font-size: 18px;
}
topic {
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
    width:400px;
}
a {
    display: block;
    margin-left: 15px;
}
iframe {
    border: 0 none #ffffff;
    display: block;
    float: right;
    margin-right: 50px;
    width: calc(100% - 450px);
    background-color: #f0f0f0;
    min-height: 600px;
}